<div class="menu">
  <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
  <a class="home">Home</a>
  <a class="home">Explore</a>
  <a class="home">Create</a>
  <input id="one" type="text" class="search-bar" placeholder="Search">
  <button id="two" class="search-bar"></button>
  <div class="icon-container">
    <i class="ri-notification-2-fill"></i>
    <i class="ri-chat-3-fill"></i>
    <% if(log === false) { %>
    <div class="w-10 h-10 rounded-full bg-zinc-400 border-2 border-black overflow-hidden" id="profile"> 
      <a href="profile"><img class="pfp w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>"
         alt=""></a>
     </div>
     <i class="pl-1 ri-arrow-down-s-fill"></i>
     <% } else { %> 
     <div class="px-3 py-4 bg-red-500 text-white rounded-xl font-semibold text-xs">
      <a href="logout"><input type="button" value="Logout"></a>
     </div>
     <% } %>
  </div>
</div>
<!--------------------------->
<div class="responsive-search-bar">
  <input type="text">
  <p class="close">❌</p>
</div>
<!--------------------------->
