<% include ./partials/header %>

<div class="profile w-full min-h-screen bg-white p-5">
    <div class="profdetails flex flex-col items-center mt-20 justify-center text-center ">
        <div class="relative">
            <span class="w-10 h-10 absolute bottom-0 right-0 rounded-full items-center justify-center">
                <i class="ri-pencil-fill"></i>
            </span>
            <div class="w-28 h-28 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="https://i.pinimg.com/originals/fa/67/b3/fa67b312983c73a968b5de7ba4dc39e6.jpg" alt="">
            </div>
        </div>
        <h1 class="font-bold mt-2 text-[35px]">Rahul Chouhan</h1>
        <h3 class="text-slate-600 text-md"><i class="fa-brands fa-pinterest"></i> username</h3>
        <h2 class="text-slate-600 text-md">following</h2>
        <a href="/edit" class="mt-2 px-7 py-2 bg-zinc-300 hover:bg-zinc-400 text-s font-semibold rounded-full">Edit</a>
        <button class="px-5 py-2 rounded-full bg-red-500 text-white font-semibold text-sm mt-3">Add New Post</button>
    </div>
    <div class="flex items-center justify-center gap-3 mt-4">
        <a href="/created" class="px-5 py-1 bg-white border-4 border-white hover:bg-grey-500 border-b-black text-s font-semibold rounded-xl">Created</a>
        <a href="/saved" class="px-5 py-1 bg-white border-4 border-white hover:bg-grey hover:border-b-black text-s font-semibold rounded-xl">Saved</a>
    </div>
    <div class="cards flex flex-wrap gap-10 mt-7 px-20 p-8 md:px-32">
        <div class="card">
            <div class="w-52 h-40 bg-zinc-500  rounded-lg overflow-hidden">
                <img class="w-full h-full object-cover" src="https://i.pinimg.com/originals/84/a5/f5/84a5f56879a12019e4963241263e505d.jpg" alt="">
            </div>
            <h3 class="text-xl font-semibold mt-2">All Pins</h3>
            <h5 class="text-sm font-medium opacity-60">28 Pins</h5>
        </div>
    </div>
</div>

<% include ./partials/footer %>