<% include ./partials/header %>

<div class="profile w-full min-h-screen bg-zinc-500">
    <div class="profdetails flex-col items-center justify-center text-center">
        <div class="w-28 h-28 rounded-full bg-white"></div>
        <h1 class="font-semibold text-2xl">Rahul Chouhan</h1>
        <h2 class="text-slate-600">username</h2>
        <h2 class="text-slate-600">following</h2>
            <div class="w-16 h-12 mt-3 bg-white rounded-lg p-2 inline text-xl">share</div>
            <div class="w-10 h-8 bg-white mt-3 rounded-lg p-2 inline text-xl">Edit profile</div>
    </div>
</div>

<% include ./partials/footer %>